# Ignore node_modules folder in the backend
echo-backend/node_modules/

echo-frontend/node_modules/

echo-frontend/echo/node_modules/

# Ignore other common files and folders
echo-frontend/echo/dist/
.DS_Store
npm-debug.log
.env
.chache